include: 'pipeline/.prepare-ssh.yml'

stages:
  - publish-code

publish-code-job:
  stage: publish-code
  tags:
    - "shell"
  extends:
    - .prepare_ssh
  rules:
    - if: $CI_COMMIT_TAG != null
  script:
    - git remote set-url origin $GITHUB_URL
    - >
      if [ `git branch --list main` ]; then
        echo "push to existing branch"; 
        git push -u origin HEAD:main
      else
        echo "create new branch"; 
        git checkout -b main; 
        git push origin main
      fi
    - git push --tags
